[submodule "custom_dockers"]
	path = custom_dockers
	url = https://github.com/hariharan20/custom_dockers
	branch = laas_noetic
[submodule "gazebo-ros-actor-plugin"]
	path = gazebo-ros-actor-plugin
	url = https://github.com/blackcoffeerobotics/gazebo-ros-actor-plugin.git
